.App {
  text-align: center;
  margin :auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header{
  background-color: black;
  flex-basis: 100%;
  padding: 1rem;
}

.color{
  padding: 2rem 1.5rem;
  flex: 1;
  color: white;
}

#footer{
  background-color: black;
  flex-basis: 100%;
  padding: 1rem;
}
#aside{
  background-color: white;
  padding: 5rem;
}

#asideColor{
  padding: 2rem 1.5rem;
  flex: 1;
  color: red;
}

.mainColor{
  padding: 2rem 1.5rem;
  flex: 1;
  color: black;
}

#main{
  background-color: peachpuff;
  padding: 8rem .1rem;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 2rem
}

.asideColor > div {
  display:flex;
  flex-wrap: wrap;
  padding: 1rem 1rem;
}

.container {
  padding: 5px;
}

input[type=text], input[type=password], input[type=email] {
  width: 20%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}

tr {
  border-bottom: 1px solid black;
}
